# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.i*86
*.x86_64
*.hex

# Application
app

# System image
uImage

# Build directories
OBJ/

# Debug files
*.dSYM/

# Doxygen
common/ev3api/doc/ev3rt-doc-c-api-en
common/ev3api/doc/ev3rt-doc-c-api-jp
common/library/lib-ev3cxx/doc/ev3rt-doc-cxx-api-en